@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap');
:root {
    --primary-color: #123f43;
    --secondary-color: #fff2ae;
    --accent1-color: #CC4E00;
    --accent2-color: #2de1fc;
    --accent3-color: #ffdf64;

    --heading-font: 'Bangers', serif;
    --paragraph-font: 'Noto Sans Display', serif;
    --link-font: 'Wendy One', 'serif';

    --nav-background-color: #fff2ae;
    --nav-link-color: #ff751f;
    --nav-hover-link-color: #2de1fc;
    --nav-hover-background-color: #123f43;

}
header{
    margin: 0.5rem;
    padding: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    background-color:#fff2ae;
}

header a{
    padding:20px;
    font-family: var(--link-font);
    text-decoration: none;
    color:#123f43
}
header a:hover{
    color:#ff751f;
    font-weight: 100;
    text-decoration: dotted;
}
.employees {
    display:flex;
    flex-direction: row;
    margin: 1.5rem;
    margin-bottom: 6rem;
    padding: 0.2rem;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    
}
.employees figure, .employees img{
    width: auto;
    height: 100%;
    border-radius: 50%;
}
.employees figcaption{
    text-align: center;
    font-weight: 700;
}
body {
    max-width: 100%;
    padding: 20px;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 0.5rem;
}
h3 {
    font-family: var(--link-font);
    color: var(--accent1-color);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 2rem;
    margin-top: 0.5rem;
    padding:0.2px;
}
h5 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-size: 1rem;
    padding:0.2px;

}
.hero, .hero_2{
    position: relative; 
}

.hero_2 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero_2 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.7;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 800px;
    color: var(--primary-color);
    background-color: rgb(255, 117, 31); 
    /*background-color: rgb(45, 225, 252, .7); */
    margin: 1rem;
    padding: 1rem;  
}
.hero_2 h1 {
    position: absolute;
    top: 52%;
    left: 50%;
    bottom:-20%;
    transform: translate(-50%, -50%);
    color: var(--accent3-color);
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .7);
    z-index: 1;
    letter-spacing: .3rem;
    word-spacing: 20px;
}
.hero_2 h4{
    position: absolute;
    top: 20%;
    font-style: italic;
    font-family: var(--paragraph-font);
    color: var(--nav-background-color);
    background-color: #2de1fc;
    text-shadow: 1px 1px 1px rgb(19, 18, 18);
    font-size: 1.3rem;
}

.hero article {
    position: absolute;
    top: 100px;
    left:10px;
    padding: 1rem;
    margin: 3rem;
    /*background-color: rgb(255, 242, 174, .7);*/
    background-color: rgb(45, 225, 252, .7);   
}
.hero article img {
    border:0;
    padding: 1px;
    width: 25%;
    float: right;
}
.hero p{
    color: var(--primary-color);

}
.invitation {
    text-align: center;
}
.invitation button{
    width: 250px;
    font-size: 2rem;
   
}
.invitation h2{
    font-size: 3rem; 
    margin: 1rem;
    letter-spacing: .2rem;
    background-color: #fff2ae;
    text-shadow: 1px 1px 1px rgb(0,0,0,.7);
}
.invitation h3{
    font-size: 2.5rem;
    margin: 2rem;
    color: var(--nav-hover-background-color);
    text-shadow: 1px 1px 1px rgb(238, 234, 234);
}

p, label, .employees figcaption, .packages figcaption, .packages blockquote, .featured figcaption{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}
label, legend {
    font-weight: 500;
}
.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.history h2 {
    text-align: center;
    grid-column: 2/3;
}

.history p:nth-of-type(1) {
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
}
.history img{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem;
}

.history p:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 2/3;

}

.sociallinks a {
    text-decoration: none;
}

.adventure{
    display:grid;
}

.adventure figure{
    grid-row:2/3;
    justify-items: center;
    font-family: var(--link-font);
    color: var(--accent1-color);
    text-align: center;
}
.adventure img{
    width: 300px;
    height: 220px;
}
.adventure h2{
    justify-self: center;
    grid-row: 1/2;
    grid-column: 3/4;
}
.container, .ready{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 80px 0.5fr;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.home img{
    width: 100%;

}
.ready{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: var(--accent2-color);
    text-shadow: 1px 1px 1px rgb(0,0,0,.7);
    
}
.ready h2{
    color: var(--accent3-color);
    font-size: 4rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.5rem;
}
.middle {
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1.4fr 1.6fr;
    margin: 10px 2px 0;
}
.newsletter{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 70%;
    border: solid rgb(45, 225, 252, .7); 
    border-radius: 2.5rem;

}
.newsletter img{
    display: flex;
    background-color: #fff2ae;
    border-radius: 2rem;
    width: 80%;
}

aside{
    text-align: center;
    padding: 0.2px;
    margin: 0.2rem; 
    border-radius: 2rem;
    background-color: rgb(255, 242, 174, .6);   
}
aside p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: -0.5rem;
}
aside iframe{
    margin: 1rem;
}
.contact, .intro{
    display: flex;
    width: 100%;
    margin: 0.2rem; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: aliceblue;
    text-align: center;
}
.intro{
    border-radius: 0;
    background-color: #fff4bc;
    margin: 0rem; 

}
fieldset{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0.5rem 0;
    margin-top: 0rem;
}
legend, .main-label, .message label {
    font-family: var(--link-font);
    font-weight: 700;
    padding: 0.5rem;
    font-size: 1.2em;
    color:var(--accent1-color);
    text-align: center;
}
legend:nth-of-type(1){
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}
.message{
    display: flex;
    flex-direction: column;
}
.text-format {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    font-size: 1em;
    font-weight: 600;
    margin: 1rem;
}
.text-format input {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 95%;
    height: 30px;
}
.individual{
    display: flex;
    flex-direction: column;
    width: 90%;

}
input[type="radio"]{
    margin: 0.1rem;
    padding: 0.1rem;
    width:20px;
    height: auto;
}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
.radio-group{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
}
.check{
    text-align:center;
    font-style: oblique;
}
.check label:hover{
    color: var(--nav-link-color);
    font-weight: 800;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button{
    margin: 1rem;
    font-family: var(--link-font);
    background-color: var(--accent2-color);
    color:black;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 600px;
    height: 50px;
}
textarea{
    width: 95%;
    height: 70px;
    margin-top: 0.5rem;
    font-family: var(--paragraph-font);
    padding: 0.5rem;
}
button:hover {
    background-color: var(--nav-link-color);
    color:white;
}
.packages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px;
    height: 600px;
    align-items: center;
    justify-items: center;
}
.packages figure{
    padding: 1rem;
    height: 400px;
    border: solid rgba(243, 240, 240, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.packages img{
    margin-top:1rem;
    width: 400px;
    grid-row-start: 1;  
}
.packages button{
    grid-row-start: 2;
    width: 150px;
}
.packages figcaption, .featured figcaption{
    font-family: var(--link-font);
    margin:0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
.packages blockquote{
    font-size: 1rem;
}

.destinations {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    justify-content: center 
}
.destinations img {
    width: 600px;
}
.destination {
    display: flex;
    text-align: center;
    justify-content: center;
}
.featured {
    margin: 0;
    padding: 1rem;
    text-align: center;
}



footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav{
    display: flex;
    align-items: center;

} 

footer p {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;

}
